// navbar
.count-active {
  visibility: visible !important;
}

.hamburger-active {
  display: flex !important;
}

.top-bar.fixed-nav {
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.fixed-nav {
  transition: 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 6rem;
  background: white;
  z-index: 1000;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.link-section {
  text-decoration: underline;
  text-decoration-color: #a6ce39;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.4rem;
  transition: 0.2s ease-in-out;
  color: #f89b1c !important;
}

// menu
.hovered-show {
  visibility: visible !important;
  opacity: 1 !important;
}

.slide-in {
  opacity: 1 !important;
  transform: translateX(0%) !important;
  transition: 0.5s ease-in-out !important;
}

.slide-out {
  transition: 0.5s ease-in-out !important;
  transform: translateX(-200%) !important;
  opacity: 0;
  visibility: hidden;
}

.display {
  opacity: 1 !important;
  transition: 0.6s ease-in;
}

// menu items

.hide-item {
 
  display: none !important;
}

// cart modal

.show-modal {
  display: flex !important;
}

.show-alert {
  display: block !important;
}

.modal-padding {
  padding-bottom: 6rem !important;
}

.modal-height {
  height: 62%;
}

.modal-height2 {
  height: 72% !important;
}


// validation and contact styles

input.valid {
  border: 0.3rem solid #38bc38 !important;
}

input.invalid {
  border: 0.3rem solid red !important;
}

input.invalid + .form-message {
  display: block !important;
}

input.valid + .form-message {
  display: none !important;
}

.show-warning {
  display: block !important;
}

.thank-you-show {
  display: block !important;
}