.top-bar {
    background: #F89B1C;
    padding: 1.8rem;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 145rem;
        margin: auto;

        .top-bar__address-phone {
            display: flex;
            align-items: center;
            font-size: 1.6rem;

            .address {
                margin-right: 3rem;
                color: white;

                .fa-map-marker-alt {
                    margin-right: 0.5rem;
                    font-size: 2rem;
                }
            }

            .phone {
                color: white;

                .fa-phone-alt {
                    color: white;
                    margin-right: 0.5rem;
                }
            }
        }

        .top-bar__hours {
            display: flex;
            font-size: 1.6rem;
            color: white;
        }
    }
}


.navbar {
    margin-top: 0;

    &__container {
        max-width: 150rem;
        margin: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo__img {
            height: 12rem;
        }

        .hamburger-menu {
            font-size: 3.5rem;
            display: none;
        }

        .navbar__links {
            display: flex;
            align-items: center;
            justify-content: center;

            .link {
                margin-right: 3rem;
                font-size: 1.8rem;

                .list-link {
                    color: black;
                }
            }

            .link-cart {

                margin-left: 2rem;
            

                .list-link {
                    
                    font-weight: 600;
                    margin-left: 2rem;
                    position: relative;
                    display: flex;
                    align-items: center;

                    .cart {
                        background: #A6CE39;
                        padding: 0.7rem 0.9rem;
                        margin-left: 1rem;
                        border-radius: .5rem;
                        height: 4rem;
                    }

                    .count {
                        position: absolute;
                        right: -0.5rem;
                        top: -1rem;
                        background: red;
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.3rem;
                        color: white;
                        font-weight: 600;
                        visibility: hidden;
                        transition: 0.2s ease-in;
                    }
                }
            }
        }
    }
}
